<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin id="com.github.oxygen-plugins.plugin1${version}" name="Conflict Test Plugin 1" description="Conflict tests"
    version="${version}" vendor="nkutsche.com" class="conflict.plugin.tests.plugin1.ConflictPlugin1"
	classLoaderType="preferReferencedResources">
	<runtime>
	    <librariesFolder name="lib"/>
	</runtime>
    <extension type="WorkspaceAccess" class="conflict.plugin.tests.plugin1.ConflictPlugin1Extension"/>
</plugin>
